backend:
  name: git-gateway
  branch: main

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "posts"
    label: "Artigos"
    folder: "src/content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Título", name: "title", widget: "string"}
      - {label: "Data", name: "date", widget: "datetime"}
      - {label: "Categoria", name: "category", widget: "string", required: false}
      - {label: "Descrição", name: "description", widget: "text", required: false}
      - {label: "Imagem de destaque", name: "image", widget: "image", required: false}
      - {label: "Autor", name: "author", widget: "string", default: "Dr. Carlos Silva"}
      - {label: "Conteúdo", name: "body", widget: "markdown"}